@{
    ViewBag.Title = "Delete";
    var id = ViewBag.blog.id;
    var title = ViewBag.blog.title;
}

<h2>Delete Blog</h2>
@using (Html.BeginForm(new { id = id }))
{
    @Html.AntiForgeryToken()

<p>Are you sure you want to delete this blog? <input type="submit" value="Delete" /></p>
<p>Title: @title</p>

<p>@Html.ActionLink("Back to List", "Index")</p>

    
}